<div fxLayout="row" fxLayoutAlign="center" *ngIf="user">
  <mat-card fxFlex="50">
    <mat-card-header>
      <img
        matTooltipPosition="before"
        matTooltip="Drop image here"
        [@imageHover]="isHovering ? 'hoveringImage' : 'notHoveringImage'"
        appUpload
        (hovering)="hovering($event)"
        mat-card-avatar
        src="https://firebasestorage.googleapis.com/v0/b/familysharingapp-7a1c0.appspot.com/o/pic_1.png?alt=media&token=f9ee3a67-dbf0-490f-9e91-5c9980444b94" alt="image caption">
      <mat-card-title>{{user.username}}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="save()" [formGroup]="profileForm" novalidate fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="fcError('username', 'required')">
            username required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Firstname" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lastname" formControlName="lastName">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="stretch">
        <button mat-mini-fab color="accent">
          <mat-icon>lock</mat-icon>
        </button>
          <p fxFlex fxFlexOffset="10px">Change password</p>
          <button mat-button color="accent"
                  type="submit"
                  [disabled] = "profileForm.invalid || unchanged()">
            Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
