<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>SignUp</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="signup()" [formGroup]="signupForm" novalidate fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email">
          <mat-error *ngIf="fcError('email', 'required')">
            Email required
          </mat-error>
          <mat-error *ngIf="fcError('email', 'email', ['required'])">
            Not a valid email
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="fcError('password', 'required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Re-type_password" type="Password" formControlName="repeatPassword">
          <mat-error *ngIf="fcError('repeatPassword', 'required')">
            Repeat-password is required
          </mat-error>
          <mat-error *ngIf="fcError('repeatPassword', 'no-match', ['required'])">
            Password does not match
          </mat-error>
        </mat-form-field>
        <button mat-button color="primary"
                type="submit">Sign up
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
